{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-primary" type="submit">Login</button>
    {% endbuttons %}
</form>
{% endblock %}
