{% extends 'base.html' %}

{% load bootstrap4 %}


{% block title %}Home{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
    <h1>File Upload</h1>
    <form action="{% url 'home' %}" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Upload</button>
        {% endbuttons %}
    </form>
    {% buttons %}
        <a class="btn btn-danger" href="{% url 'logout' %}">logout</a>
    {% endbuttons %}
{% else %}
    <p>You are not logged in</p>
    {% buttons %}
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endbuttons %}
{% endif %}
{% endblock content %}
